{% extends "layout-private.html" %}

{% block title %}
Rangkuman Waktu - {{ parent() }}
{% endblock %}

{% block content %}
{{ anchor('rangkuman', '<i class="icon-chevron-left"></i> Kembali', {'class' : 'btn btn-primary btn-md'})|raw }}
<br />
<br />
<div class="module">
  <div class="module-head">
    <h3>Rangkuman Waktu</h3>
  </div>
  <div class="module-body">
    {{ get_flashdata('materi')|raw }}

    <center>
      <h5>Diagram Jumlah Waktu Keseluruhan</h5>
      <div style="max-width: 400px; max-height: 400px; text-align: center; align-content: center;">
        <canvas id="myChart" width="300" height="300"></canvas>
      </div>
    </center>

    <br />

    <table class="table table-striped">
      <thead>
        <tr>
          <th>NIS</th>
          <th>Nama Siswa</th>
          <th>Kelas</th>
          <th width="15%">Aksi</th>
        </tr>
      </thead>
      <tbody>
        {% if siswas is empty %}
        <tr>
          <td colspan="4">
            <center>
              <h5>
                Tidak ada data siswa
              </h5>
            </center>
          </td>
        </tr>
        {% else %}
        {% for no, m in siswas %}
        <tr>
          <td>{{ m.nis }}</td>
          <td>
            <p><strong class="text-warning">
                {{ m.nama }}
              </strong></p>
          </td>
          <td>
            {{ m.nama_kelas }}
          </td>
          <td>
            <div class="btn-group">
              <button onclick="modalonclick({{ m.siswa_id }})" class="btn btn-info btn-md">Lihat Detail</button>
            </div>
          </td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
    <br>
    {{ pagination|raw }}

  </div>
</div>

{% endblock %}