{% extends "layout-private.html" %}

{% block title %}
Tambah Orangtua - {{ parent() }}
{% endblock %}

{% block content %}
<div class="module">
    <div class="module-head">
        <h3>{{ anchor('orangtua/index/' ~ status_id, 'Data Orangtua')|raw }} / Tambah Orangtua</h3>
    </div>
    <div class="module-body">
        {{ get_flashdata('orangtua')|raw }}

        {{ form_open_multipart('orangtua/add/' ~ status_id, {'class' : 'form-horizontal row-fluid'})|raw }}
            <div class="control-group">
                <label class="control-label">Nama <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="text" name="nama" class="span8" value="{{ set_value('nama') }}">
                    <br>{{ form_error('nama')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Nama Siswa <span class="text-error">*</span></label>
                <div class="controls">
                  <select class="span8" name="siswa_id">
                      <option value="">Pilih nama siswa</option>
                      {% for n,i in siswa_available %}
                          <option value="{{ i.id }}" {{ set_select('siswa_id', i.id) }}>{{ i.nama }}</option>
                      {% endfor %}
                  </select>
                  <br>{{ form_error('siswa_id')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Jenis Kelamin <span class="text-error">*</span></label>
                <div class="controls">
                    <label class="radio inline"><input type="radio" name="jenis_kelamin" value="Laki-laki" {{ set_radio('jenis_kelamin', 'Laki-laki') }}> Laki-laki</label>
                    <label class="radio inline"><input type="radio" name="jenis_kelamin" value="Perempuan" {{ set_radio('jenis_kelamin', 'Perempuan') }}> Perempuan</label>
                    <br>{{ form_error('jenis_kelamin')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Alamat</label>
                <div class="controls">
                    <input type="text" name="alamat" class="span10" value="{{ set_value('alamat') }}">
                    <br>{{ form_error('alamat')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Foto</label>
                <div class="controls">
                    <input type="file" name="userfile">
                    {{ (error_upload is not empty) ? error_upload|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Username <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="text" id="username" name="username" class="span5" value="{{ set_value('username') }}" placeholder="example@example.sch.id">
                    <br>{{ form_error('username')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Password <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="password" name="password" class="span5" value="{{ set_value('password') }}">
                    <br>{{ form_error('password')|raw }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Ulangi Password <span class="text-error">*</span></label>
                <div class="controls">
                    <input type="password" name="password2" class="span5" value="{{ set_value('password2') }}">
                    <br>{{ form_error('password2')|raw }}
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn btn-primary">Simpan</button>
                    <a href="{{ site_url('orangtua/index/' ~ status_id) }}" class="btn">Batal</a>
                </div>
            </div>
        {{ form_close()|raw }}

    </div>
</div>
{% endblock %}
